<Settings>
  <ClientIP>192.168.2.204</ClientIP>
  <ClientPort>26233</ClientPort>
  <SteeringModeHandsCount>2</SteeringModeHandsCount>
  <!--optionals-->
  <Delay>100</Delay>
  <MaxSpeed>1000</MaxSpeed>
  <MaxAmplitude>300</MaxAmplitude>
  <PeaceArea>50</PeaceArea>
  <CircleSpeed>200</CircleSpeed>
</Settings>
